li {
    padding: 5px;
    margin: 5px;
    background: #faebd7;
  }
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: rgb(40, 48, 48);
  }
  
  .form-group {
    margin-bottom: 5px;
  }
  h1{
    text-align: center;
    background-color: rgba(231, 221, 125, 0.411);
    margin: auto;
  }
  #menu {
    float: left;
    background-color: rgba(231, 221, 125, 0.411);
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: auto;
    height: auto;  

  }
  #myMenu{
    float: left;
    background-color: rgba(231, 221, 125, 0.411);
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: auto;
    height: auto; 

  }
  #add{
    float: left;
    background-color: rgba(231, 221, 125, 0.411);
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 200px;
    height: auto; 
  }
  button {
    float: right;
  }
  body {
    /* background-image: linear-gradient(to right, red, orange, yellow, white) */
  background-image: url("/assets/img/burger.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  }